{% extends 'pesquisa_digitacao.html' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <table class="highlight centered indigo z-depth-3" id="table">
      <thead>
        <tr>
          <th>Bairro</th>
          <th>Pontos</th>
        </tr>
      </thead>
      <tbody class="teal">
        {% for bairro in bairros %}

        <tr>

          <td><a class="amber-text text-lighten-3" href="{% url 'detalha_trajetos' bairro.nome %}">{{ bairro.nome }}</a>
          </td>
          <td><a class="amber-text text-lighten-3" href="{% url 'pontos_interesse' bairro.nome %}">
              <span class="material-icons">location_on</span></a> </td>
        </tr>

        {% endfor %}
      </tbody>

    </table>
  </div>
</div>

{% endblock %}