{% extends 'pesquisa_periodo.html' %}

{% block content %}
    <div class="row">
    <div class="col s12">
    <table class="highlight centered indigo z-depth-3">
        <thead>
         <tr class="teal white-text"> <th> Bairro:  {{ bairro }} </th> </tr>

          <tr>
              <th>Veículo</th>
              <th>Trajeto</th>
              <th>Período</th>
              <th>Horário</th>
          </tr>
        </thead>
    
    {% for trajeto in trajetos %}
        <tbody class="teal">
          <tr>
            <td> {{ trajeto.veiculo }}
            <td> {{ trajeto.trajeto.nome_trajeto }} </td>
            <td >{% if trajeto.trajeto.saida_garagem == 'M' %} {{ 'MANHÃ' }} 
                 {% elif trajeto.trajeto.saida_garagem == 'T' %} {{ 'TARDE' }}
                 {% elif trajeto.trajeto.saida_garagem == 'N' %} {{ 'NOITE' }}
                 {% endif %} </td>
            <td > 
                 {% if trajeto.trajeto.saida_garagem == 'M' %} {{ '06:30' }} 
                 {% elif trajeto.trajeto.saida_garagem == 'T' %} {{ '12:00' }}
                 {% elif trajeto.trajeto.saida_garagem == 'N' %} {{ '18:30' }}
                 {% endif %} </td>
          </tr>
        </tbody>
    {% endfor %}
    
    </table>
    </div>
    </div>

    <div class="row">

    </div>
{% endblock %}