{% extends 'base.html' %}

 {% block pesquisa_digitacao %}
 <div class="row">
   <div class="col s12">
    <form method="GET" >

      <div class="row">
        <div class="col s12">
        
        <div class="input-field center">
        
          <button class="btn waves-effect waves-yellow btn-small indigo" type="submit" id="button-search">Pesquisar
             <i class="material-icons right">search</i>
          </button>
              <input type="text" value= "{{ busca }}" name="search" id="search"  tabindex="1">
          <label for="search">Pesquise</label>
        
        </div>
      </div>
      </div>

    </form>
    </div>
    </div>
 {% endblock  %}

