{% extends "base.html" %}

{% block content %}
   <div class="row">
   <div class="col s12 center">
      <h4 class="amber lighten-1 indigo-text z-depth-1-half"> Nossa História </h4>
   </div>
  </div>
  <div class="row">

   <div >
         <blockquote class="indigo-text z-depth-1-half" align="justify">
               <p>Somos um projeto que nasceu em setembro de 2021 com a intenção de facilitar 
                  o uso do transporte público escolar.
               </p>
              <p>Nosso objetivo é facilitar a informação disponível para que o estudante
               possa encontrar o ponto de ônibus que se enquadre melhor em suas necessidades.</p> 
              <p>As informações disponibilizadas pela empresa em nosso primeiro projeto se mostraram
               insuficientes para ajudar na nossa missão, por isso decidimos nos tornar um portal comunitário,
               assim as pessoas que detêm a informação poderão compartilhar os pontos com outras pessoas
               que necessitem.
              </p>
             
        </blockquote>
    </div>
  </div>
   
  </form>
{% endblock content %}


