{% extends 'app_trajeto/base_search.html' %}



{% block content %}


 <div class="row">
    <div class="col s12">
    <table class="highlight centered indigo z-depth-3">
        <thead>
          <tr>
              <th>Bairro</th>            
          </tr>
        </thead>
    
    {% for bairro in bairros %}
        <tbody class="teal">
          <tr>
            
            <td><a class="amber-text text-lighten-3" href="{% url 'detail' bairro.nome %}">{{ bairro.nome }}</a></td>
        
          </tr>
        </tbody>
    {% endfor %}
    
    </table>
    </div>
    </div>
    
<!--
    <div class="row">
      <div class="col s12 indigo">
      <h5><p class="center">Bairros</p></h5>
      </div>
      {% for bairro in bairros %}
      <div class="col s4 teal">
        <p class="center"><a class="amber-text text-lighten-3" href="{% url 'detail' bairro.nome %}">{{ bairro.nome }}</a> </p>
      </div>
      {% endfor %}
    
    </div>
-->

{% endblock %}

