{% extends "app_trajeto/base.html" %}

{% block content %}
   <div>
         <blockquote class="indigo-text" align="justify">
              <b><p>Nossa equipe busca a ligação entre empresas privadas e instituições públicas, 
              inicialmente começamos a fazer a ligação entre o transporte público escolar e os 
              estudantes.</p> 
              <p>Os etudantes tinham a necessidade de saber onde estão localizados os pontos de 
              ônibus e quais são os trajetos que o veículo escolar faz, assim como os horários
              e por quais bairros eles passam. </p> 
              <p>A nossa equipe juntamente com a empresa privada que fornece o transporte a esses 
              estudantes desemvolvemos o sistema inicial para constituir esse elo de ligação. 
              Esse projeto começou em setembro de 2021, foi feito todo um trabalho afim de 
              saciar a busca desse tipo especifico de informação.</p> 
              <p>Com o passar do tempo percebemos que faltavam mais informações na área escolar 
              e nosso sistema foi as complementando até se constituir em uma empresa que 
              que agrega um valor cada vez mais útil para que os integrantes da sociedade
              possam se situar. </p></b>
        </blockquote>
    </div>
{% endblock content %}
