{% extends "app_trajeto/base.html" %}

{% block content %}
   <div class="row">
   <div class="col s12 center">
      <h4 class="amber lighten-1 indigo-text z-depth-1-half"> Nossa História </h4>
   </div>
  </div>
  <div class="row">

   <div >
         <blockquote class="indigo-text z-depth-1-half" align="justify">
              <b><p>Nossa equipe busca a ligação entre empresas privadas e instituições públicas, 
              inicialmente começamos a fazer a ligação entre o transporte público escolar e os 
              estudantes.</p> 
              <p>Eles tinham a necessidade de saber onde estavam localizados os pontos de 
              ônibus e quais eram os trajetos que o veículo escolar faz, assim como os horários
              e por quais bairros eles passavam. </p> 
              <p>A nossa equipe juntamente com a empresa privada que fornece o transporte a esses 
              estudantes desenvolvemos o sistema inicial para constituir esse elo de ligação. 
              Esse projeto começou em setembro de 2021, foi feito todo um trabalho afim de 
              saciar a busca desse tipo especifico de informação.</p> 
              <p>Com o passar do tempo percebemos que faltavam mais informações na área escolar 
              e nosso sistema foi as complementando até se constituir em uma empresa
              que agrega um valor cada vez mais útil para que os integrantes da sociedade
              possam se situar. </p></b>
        </blockquote>
    </div>
  </div>
   
  </form>
{% endblock content %}


