{% extends 'app_trajeto/base.html' %}

{% block content %}
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <button class="btn waves-effect waves-yellow btn-small indigo" type="submit" name="search">Pesquisar
             <i class="material-icons right">search</i>
          </button>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Pesquise</label>
        </div>
      </div>
      
    </form>
{% endblock content%}